---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404" description="Page not found">
  <h2
    class="text-red-800 text-3xl font-semibold font-mono selection:text-white"
  >
    Page not found
  </h2>
  <a
    href="/"
    class="my-5 text-xl text-red-800 font-mono hover:text-red-500 group inline-flex items-center"
  >
    <span
      class="transition-transform duration-300 -translate-x-2 group-hover:translate-x-0"
    >
      [
    </span>

    <span>Back to Home</span>

    <span
      class="transition-transform duration-300 translate-x-2 group-hover:translate-x-0"
    >
      ]
    </span>
  </a>
</Layout>
