---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404" description="Page not found">
  <h2 class="text-red-800 text-3xl font-semibold">Page not found</h2>
  <a
    href="/"
    class="my-8 text-2xl font-bold text-red-800 hover:text-red-500 hover:bg-[#46080977] group inline-flex items-center"
  >
    <span
      class="transition-transform duration-300 -translate-x-2 group-hover:translate-x-0"
    >
      [
    </span>

    <span>Back to Home</span>

    <span
      class="transition-transform duration-300 translate-x-2 group-hover:translate-x-0"
    >
      ]
    </span>
  </a>
</Layout>
